POSTGRES_DB=shooting-session
POSTGRES_USER=shooting-session-user
POSTGRES_PASSWORD=shooting-session-password
POSTGRES_PORT=5432
DATABASE_URL=postgresql://shooting-session-user:shooting-session-password@localhost:5432/shooting-session