POSTGRES_DB=shooting-session
POSTGRES_USER=shooting-session-user
POSTGRES_PASSWORD=shooting-session-password
POSTGRES_PORT=5432

DATABASE_URL_LOCALHOST=postgresql://shooting-session-user:shooting-session-password@localhost:5432/shooting-session
DATABASE_URL=postgresql://shooting-session-user:shooting-session-password@localhost:5432/shooting-session

JWT_SECRET=shooting-session-jwt-secret
PLAYER_ID=ed3b3b9e-86aa-4c03-b2de-6f97a2daeadb